<%= evil_icons_sprite %>

<header class="uk-width-1-1 border-bottom">
    <h1 style="margin-bottom: 20px;" class="uk-align-left margin-left-large margin-top-large margin-bottom-large">
      <b>Ivory</b>
    </h1>

    <ul class="uk-list uk-float-right margin-right-large">
      <li><a href="#menu-modal" data-uk-modal><%= evil_icon 'ei-navicon', size: :m %></a></li>
    </ul>
</header>


<section style="margin-top: 70px;" class="uk-vertical-align uk-width-1-1 hero border-bottom bg-alt">

  <div class="uk-vertical-align-middle uk-width-1-4"></div>
  <div class="uk-vertical-align-middle uk-width-1-2 uk-container-center
              margin-bottom-large">
    <h2 class="uk-text-center">How much could the world benifit from better preventative
        health-care?</h2>
  </div>
  <div class="uk-vertical-align-middle uk-width-1-4"></div>

  <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-small-1-2 uk-vertical-align-middle uk-text-center">
    <%= evil_icon 'ei-clock', size: :l %>
    <h2>It's time</h2>
    <p class="call-to-actions">Easily keep track of what matters: your health. Get notified when
      it's time for that next check-up</p>
  </div>
  <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-small-1-2 uk-vertical-align-middle uk-text-center">
    <%= evil_icon 'ei-exclamation', size: :l %>
    <h2>Uh-oh</h2>
    <p class="call-to-actions">Life make you miss that checkin? We've got your back with notifications
      to take your vitals, and more.</p>
  </div>
  <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-small-1-2 uk-vertical-align-middle uk-text-center">
    <%= evil_icon 'ei-user', size: :l %>
    <h2>Connect...</h2>
    <p class="call-to-actions">...with your physicians in an easy-to-use, fun way. Get alerts when your
    physician has sent you a update.</p>
  </div>
  <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-small-1-2 uk-vertical-align-middle uk-text-center">
    <%= evil_icon 'ei-trophy', size: :l %>
    <h2>Points matter</h2>
    <p class="call-to-actions">Ever had a incentive to be healthy? Treat yourself right and accrue
    points towards cool gifts and more.</p>
  </div>

</section>

<!-- Modals -->

<div id="menu-modal" class="uk-modal">
  <div class="uk-modal-dialog uk-modal-dialog-large uk-height-viewport uk-vertical-align">
    <div class="uk-width-large-1-6 uk-width-medium-2-10 uk-width-small-1-10 uk-vertical-align-middle"></div>
    <div class="uk-width-large-2-6 uk-width-medium-2-6  uk-width-small-4-10 uk-vertical-align-middle border-right menu-panel" style="padding-right: 100px;">
      <h2>Members</h2>
      <form class="uk-form uk-form-stacked">
        <div class="uk-form-row">
          <div class="uk-form-controls">
            <input style="height: 50px; padding-left: 15px; padding-top: 15px; padding-bottom: 15px;" type="text" placeholder="Your email address" class="uk-width-1-1 uk-form-large" />
            <input style="height: 50px; padding-left: 15px; padding-top: 15px; padding-bottom: 15px;" type="text" placeholder="Your password" class="uk-width-1-1 uk-form-large" />
          </div>
        </div>
        <button class="uk-button uk-button-primary uk-button-large uk-width-1-1 margin-top-large" type="submit">Sign in</button>
        <h5 class="uk-float-right button-sub-text text-alt">Forgot your password?</h5>
      </form>

      <br>
      <h2>Enrolled to Ivory?</h2>
      <a class="button uk-button uk-button-default uk-button-large uk-width-1-1" href="">Create account</a>
      <h5 class="button-sub-text text-alt">Physician not participating? <a href="#">Ask them.</a></h5>
    </div>
    <div class="uk-width-large-2-6 uk-width-medium-2-6 uk-width-small-4-10 uk-vertical-align-middle menu-panel" style="padding-left: 100px;">
      <p>dd</p>
    </div>
    <div class="uk-width-large-1-6 uk-width-medium-2-10 uk-width-small-1-10 uk-vertical-align-middle"></div>
  </div>
</div>
