<%= evil_icons_sprite %>

<section style="margin-top: 70px;" class="uk-vertical-align uk-width-1-1 hero border-bottom bg-alt">

  <div class="uk-vertical-align-middle uk-width-1-4"></div>
  <div class="uk-vertical-align-middle uk-width-1-2 uk-container-center margin-bottom-large">
    <h2 class="uk-text-center">How much could the world benifit from better preventative health-care?</h2>
  </div>
  <div class="uk-vertical-align-middle uk-width-1-4"></div>

  <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-small-1-2 uk-vertical-align-middle uk-text-center">
    <%= evil_icon 'ei-clock', size: :l %>
    <h2>It's time</h2>
    <p class="call-to-actions">Easily keep track of what matters: your health. Get notified when
      it's time for that next check-up</p>
  </div>
  <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-small-1-2 uk-vertical-align-middle uk-text-center">
    <%= evil_icon 'ei-exclamation', size: :l %>
    <h2>Uh-oh</h2>
    <p class="call-to-actions">Life make you miss that checkin? We've got your back with notifications
      to take your vitals, and more.</p>
  </div>
  <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-small-1-2 uk-vertical-align-middle uk-text-center">
    <%= evil_icon 'ei-user', size: :l %>
    <h2>Connect...</h2>
    <p class="call-to-actions">...with your physicians in an easy-to-use, fun way. Get alerts when your
    physician has sent you a update.</p>
  </div>
  <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-small-1-2 uk-vertical-align-middle uk-text-center">
    <%= evil_icon 'ei-trophy', size: :l %>
    <h2>Points matter</h2>
    <p class="call-to-actions">Ever had a incentive to be healthy? Treat yourself right and accrue
    points towards cool gifts and more.</p>
  </div>

</section>

<!-- Modals -->

<div id="menu-modal" class="uk-modal">
  <div class="uk-modal-dialog uk-modal-dialog-large uk-height-viewport uk-vertical-align">
    <div class="uk-width-large-1-6 uk-width-medium-2-10 uk-width-small-1-10 uk-vertical-align-middle"></div>
    <div class="uk-width-large-2-6 uk-width-medium-2-6  uk-width-small-4-10 uk-vertical-align-middle border-right menu-panel" style="padding-right: 100px;">

      <% if user_signed_in? %>
        <%= image_tag current_user.gravatar_url, class: 'uk-align-left' %>
        <h2 style="margin: 0px;">Welcome</h2>
        <h6 style="margin: 0px;" class="uk-text-muted"><%= current_user.email %></h6>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'uk-button uk-button-default' %>
      <% else %>
        <h2>Members</h2>
        <%= form_for(:user, class: 'uk-form uk-form-stacked', url: '/users/sign_in') do |f| %>
          <div class="uk-form-row">
            <div class="uk-form-controls">
              <%= f.email_field :email, autofocus: true, placeholder: 'Your email', style: 'height: 50px; padding-left: 15px; padding-top: 15px; padding-bottom: 15px;', class: 'uk-width-1-1 uk-form-large' %>
              <%= f.password_field :password, autocomplete: "off", placeholder: 'Your password', style: 'height: 50px; padding-left: 15px; padding-top: 15px; padding-bottom: 15px;', class: 'uk-width-1-1 uk-form-large' %>
              <%= f.submit "Sign in", class: 'uk-button uk-button-primary uk-button-large uk-width-1-1 margin-top-large' %>
            </div>
          <h5 class="uk-float-right button-sub-text text-alt">Forgot your password?</h5>
        <% end %>

        <br>
        <h2>Enrolled to Ivory?</h2>
        <a class="button uk-button uk-button-default uk-button-large uk-width-1-1" href="/users/sign_up">Create account</a>
        <h5 class="button-sub-text text-alt">Physician not participating? <a href="#">Ask why</a></h5>
      </div>
      <% end %>
    </div>

    <div class="uk-width-large-2-6 uk-width-medium-2-6 uk-width-small-4-10 uk-vertical-align-middle menu-panel" style="padding-left: 100px;">
      <ul class="uk-list uk-list-space uk-text-large">
        <li>Search doctors, benifits, and more</li>
        <li>Frequently Asked Questions</li>
        <li>Provider Portal</li>
        <li>Ivory blog</li>
        <li>Careers</li>
        <li>Press</li>
      </ul>

      <ul class="uk-list text-alt margin-top-large">
        <li>Privacy Policy</li>
        <li>Our Terms of Service</li>
      </ul>
    </div>
    <div class="uk-width-large-1-6 uk-width-medium-2-10 uk-width-small-1-10 uk-vertical-align-middle"></div>
  </div>
</div>
