<%= evil_icons_sprite %>

<div class="uk-width-1-1 border-bottom">

  <div class="uk-width-1-2 uk-container-center">
    <h1 class="uk-align-left"><b>Ivory</b></h1>
    <h2 class='uk-text-left'>A modern, technology-led approach to preventive
      healthcare</h2>
  </div>

</div>


<div class="uk-vertical-align uk-width-1-1 hero border-bottom">

  <div class="uk-vertical-align-middle uk-width-1-4"></div>
  <div class="uk-vertical-align-middle uk-width-1-2 uk-container-center
              margin-bottom-large">
    <h2 class="uk-text-center">How much could the world benifit from better preventative
        health-care?</h2>
  </div>
  <div class="uk-vertical-align-middle uk-width-1-4"></div>

  <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-small-1-2 uk-vertical-align-middle uk-text-center">
    <%= evil_icon 'ei-clock', size: :l %>
    <h2>It's time</h2>
    <p class="call-to-actions">Easily keep track of what matters: your health. Get notified when
      it's time for that next check-up</p>
  </div>
  <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-small-1-2 uk-vertical-align-middle uk-text-center">
    <%= evil_icon 'ei-exclamation', size: :l %>
    <h2>Uh-oh</h2>
    <p class="call-to-actions">Life make you miss that checkin? We've got your back with notifications
      to take your vitals, and more.</p>
  </div>
  <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-small-1-2 uk-vertical-align-middle uk-text-center">
    <%= evil_icon 'ei-user', size: :l %>
    <h2>Connect...</h2>
    <p class="call-to-actions">...with your physicians in an easy-to-use, fun way. Get alerts when your
    physician has sent you a update.</p>
  </div>
  <div class="uk-width-large-1-4 uk-width-medium-1-2 uk-small-1-2 uk-vertical-align-middle uk-text-center">
    <%= evil_icon 'ei-trophy', size: :l %>
    <h2>Points matter</h2>
    <p class="call-to-actions">Ever had a incentive to be healthy? Treat yourself right and accrue
    points towards cool gifts and more.</p>
  </div>

</div>
