<h1>Editing Patient/h1>
 
<%= form_for :patient, url: patient_path(@patient), method: :patch do |f| %>
 
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@patient.errors.count, "error") %> prohibited
        this patient from being saved:
      </h2>
      <ul>
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :age %><br>
    <%= f.text_field:age %>
  </p>
  
  <p>
      <%= f.label :provider %><br>
      <%= f.select :provider, [['Please choose provider', nil], 'McGregger, She', 'Reichardt, Matthew'] %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', patients_path %>